<div class="background-image">
  <h1>Edit Book</h1>

<div class="book_image">
  <div class="book-content">
    <div class="input-container">
      <label for="editTitle" class="label">Title:</label>
      <input type="text" id="editTitle" [(ngModel)]="editedBook.title" class="common-input">
    </div>
    <div class="input-container">
      <label for="editAuthor" class="label">Author:</label>
      <input type="text" id="editAuthor" [(ngModel)]="editedBook.author.name" class="common-input">
    </div>
    <div class="input-container">
      <label for="editCategory" class="label">Category:</label>
      <input type="text" id="editCategory" [(ngModel)]="editedBookCategories" class="common-input">
    </div>
    <button (click)="saveChanges()" class="white-button">Save Changes</button>
  </div>
</div>

</div>

