.book_image {
  background: url('../../assets/book_image.png') no-repeat center center;
  background-size: 60% 60%; 
  padding: 1.25em;
  color: #333; 
  font-family: 'Arial', sans-serif;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute; 
  top: 3%;
  right: 1%; 
  z-index: 2; 
}

.book-content {
  position: relative;
  top: 37%;
  left: 40%;
  width: 28%; 
  height: 24%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0); 
  padding: 1.25em;
  color: #333;
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
  text-align: center;
}

.background-image {
  background: url('../../assets/bookstore_image.jpeg') no-repeat center center;
  background-size: cover;
  padding: 1.25em;
  color: #333; 
  font-family: 'Arial', sans-serif;
  background-position: center;
  height: 100vh;
  width: 100%;
  z-index: 1; 
}

h1 {
  text-align: center;
  color: #000000; 
  font-size: 2.5em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1em;
}

label {
  margin-right: 0.625em;
  font-size: 22px; 
  font-weight: bold; 
}


input {
  font-size: 20px; 
  padding: 10px; 
  font-weight: 400; 

}

.container {
  text-align: center;
  padding: 0; 

}

.input-container {
  margin-bottom: 1em;

}


.common-input {
  
  text-align: left; 
  padding: 0.625em; 
  margin-right: 0.625em; 
  background-color: rgba(255, 255, 255, 0.025);
  border: 1px solid rgba(51, 51, 51, 0.025);
  border-radius: 5px; 
  transition: border-color 0.3s ease; 


  font-size: 18px; 
  color: #333;
}


.form-control {
  font-size: 20px; 
  padding: 0.625em;
}

.white-button {
  background-color: white;
  color: black; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  position: absolute;
  top: 138%; 
  left: 140%; 
  font-size: 20px; 
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0); 
  border: 1px solid rgba(51, 51, 51, 0); 
}

.white-button:hover {
background-color: rgba(255, 255, 255, 0.2);
border: 1px solid rgba(51, 51, 51, 0.2); 
}
body {
  margin: 0;
  padding: 0;
}
